html {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Sono', sans-serif;
    color: black;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23070707' fill-opacity='0.22'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.quote {
    width: auto;
    min-width: 300px;
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 8px 8px rgba(0, 0, 0, .2);
}
.quote--content i {
    font-size: 2.75rem; 
}
.quote--content__text {
    font-size: 2rem;
}
.quote--content__long {
    font-size: 1.3rem;
}
.quote--author h5 {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
    color: rgb(61, 60, 60)
}
.quote-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quote-buttons button {
    cursor: pointer;
    padding: .6rem;
    border: none;
    outline: none;
    border-radius: 7px;
    background: #333;
    color: #fff;
    box-shadow: 0 0.3rem rgba(121, 121, 121, .56);
    transition: all 0.3s ease;
    font-size: 1.1rem;
}

.quote-buttons button:active {
    transform: translate(0, 0.27rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.quote-buttons__twitter:hover {
    color: #38a1f3
}

.quote-buttons__twitter i.fa-twitter {
    font-size: 1.4rem;
}

/* Media on Tablet and smaller */
@media (max-width: 1000px) {
    .quote {
        margin: auto 15px;
    }
}